body{
    background-color: rgb(147, 83, 83);
    color:white;
    font-family: sans-serif;
    margin-top:0;
}

#container{
    width:800px;
    margin:0px auto;
    background-color:rgb(167, 72, 72);
    padding:40px;
    border-left:black,solid,4px;
    border-right:black,solid,4px;
}

h1{
    background-color:rgb(153, 153, 147);
    border:3px,solid,white;
    border-radius:5px;
    padding:10px;
    margin-bottom:20px;
    width: 95%;
    text-align:center;
    margin:0px auto;

}

h2{
    text-align:center;
    font-size:1.2em;
}

h3{
    border-left:double 20px;
    padding-left: 15px;
}

p{
    line-height: 2em;
}
img{
    width:300px;
    margin-left: 10px;
    margin-right:10px;
}
a:link{
    color:aqua;
    text-decoration: none;
    font-weight:bold;
}

a:visited{
    color:blue;
}

a:hover{
    color:darkblue;
    text-decoration:underline;
}

a:active{
    color:darkcyan;
}

/* ID rules */
#pic1{
    float:right;
    border:2px,solid,white;
}

#pic2{
    float:left;
}

#pic3{
    float:right;
    border:2px,solid,white;
    margin-bottom:10px;
}

#sidebar{
    background-color:burlywood;
    width:225px;
    float:right;
    padding:15px;
    border:3px,solid, white;
    margin-top: 40px;
    line-height:2em;
}

#sidebar h3,ul{
    color:brown;

}

/* class rules */
.highlight{
    font-weight:bold;
    background-color:yellow;
    padding:2px;
    color:black;
}

@media (max-width:1200){
    #container{
        width:800px;
    }
}

@media(max-width:992px){
    #container{
        width:100%;

    }
    #container,p{
        margin:0;
        padding:0;
        border:none;
    }
}

@media(max-width:768px){
    body,h1,h2,h3,p,div{
        border:none;
        background-color:rgb(167, 72, 72);
    }
    #sidebar{
        display:none;
    }
    img{
        float:none;
        border:none;
        width:100%;
        margin:0 auto;
    }
    p{
        text-align:justify;
    }
}